$margin: 15px;
$padding: 15px;

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

.main {
    font-family: "Inter", sans-serif;

    &.menu-open {
        overflow: hidden;
    }
}

.row {
    margin-bottom: 15px;

    @media (max-width: 768px) {
        margin-bottom: 0;
    }
}

header {
    margin-bottom: $margin;
    background-color: #ffffff;

    .main-menu {
        height: 50px;
    }

    .row {
        margin: 0;
    }
}

.secondary-menu {
    height: 50px;

    .col-12 {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    span {
        &.disabled {
            color: #b8b6b3;

            svg path {
                fill: #b8b6b3;
            }
        }

        font-size: 13px;
        margin: 0 48px;
        display: flex;
        align-items: center;

        svg {
            height: 20px;
            margin-right: 10px;
        }
    }

    a {
        color: #67625d;
        font-size: 13px;
        margin: 0 48px;
        display: flex;
        align-items: center;
        cursor: pointer;

        &.active {
            color: #276fb6;

            svg {
                path {
                    fill: #276fb6;
                }
            }
        }

        &:hover {
            text-decoration: none;
            color: #8c8b88;

            svg {
                path {
                    fill: #8c8b88;
                }
            }
        }

        svg {
            height: 20px;
            margin-right: 10px;

            path {
                fill: #67625d;
            }
        }
    }
}

.mobile-menu {
    display: none;
    padding: 5px 0;
}


@media (max-width: 991px) {
    .main-menu,
    .secondary-menu {
        display: none !important;

        &.d-flex {
            display: none !important;
        }
    }

    .mobile-menu {
        display: block;
    }

    .menu-phone-wrapper {
        position: absolute;
        width: 100%;
        height: 100vh;
        top: 0;
        left: 0;
        background: #fff;
        z-index: 9999999;

        .close {
            padding-bottom: 20px;
            cursor: pointer;
        }

        .logo-phone {
            margin-bottom: 80px;
            text-align: center;
        }

        ul {
            padding-left: 0;
        }

        ul li {
            display: block;
            margin-bottom: 20px;
            text-align: center;

            a {
                color: #212529;
                text-decoration: none;

                &:hover {
                    color: #212529;
                }

                &.active {
                    color: #276fb6;

                    svg {
                        path {
                            fill: #276fb6;
                        }
                    }
                }
            }

            svg {
                height: 40px;
                display: block;
                margin: 0 auto 5px;
            }
        }
    }
}

.progress {
    .bar {
        background-color: #276fb6;
    }
}

.right-separator {
    border-right: 1px solid #b6b5b5;
}

section.menu-principal {
    .link {
        display: block;
        position: relative;
        padding: 50px 0;
        color: #276fb6;
        text-transform: uppercase;
        font-weight: 400;

        &:hover {
            text-decoration: none;
        }
    }

    .link-disabled {
        display: block;
        position: relative;
        padding: 50px 0;
        color: #dadbdd;
        text-transform: uppercase;
        font-weight: 400;
    }
}

.dnabox-section {
    .btn {
        border-color: #276fb6;
        color: #276fb6;
        padding: 15px 25px 15px 25px;
        font-size: 14px;
        display: block;
        margin-bottom: 20px;

        svg {
            margin-right: 15px;
        }
    }

    .small {
        display: block;
        color: #010101;
        margin-bottom: 5px;
        font-size: 12px;

        &:hover {
            text-decoration: none;
        }
    }
}

.app-section {
    .img-centered {
        display: block;
        margin: 0 auto 10px;
    }
}

.user-sidebar {
    p.title {
        font-weight: bold;
        font-size: 17px;
        color: #010101;
        margin-bottom: 2px;
    }

    p.subtitle {
        font-size: 12px;
        padding-left: 10px;
    }

    .user-menu {
        padding-left: 0;

        @media (max-width: 768px) {
            li a, li ul li a {
                display: block;
                border: 1px solid #ccc;
                border-radius: 50px;
                text-align: center;
                padding: 8px;
            }

            > li ul {
                padding-left: 0 !important;
                margin-top: 15px;
            }

            li a {
                border-color: #276fb6;
            }

            li ul li a {
                background: #276fb6;
                color: #fff !important;
            }
        }

        li {
            list-style: none;
        }

        & > li {
            margin-bottom: 15px;

            & > a {
                color: #010101;
                font-size: 14px;
                font-weight: 500;
                display: block;
                margin-bottom: 3px;

                &:hover {
                    text-decoration: none;
                }
            }

            ul {
                padding-left: 10px;

                li {
                    margin-bottom: 5px;

                    a {
                        color: #736f6a;
                        font-size: 13px;

                        &:hover {
                            text-decoration: none;
                        }
                    }
                }
            }
        }
    }
}

.form-group {
    .inline {
        display: inline-block;
        margin-left: 20px;
        position: relative;
        vertical-align: middle;
    }

    .front {
        line-height: 38px;
    }
}

.form-title {
    margin-bottom: 15px;
}

.form-field-hidden {
    display: none;
}


.footer {
    background: rgba(255, 255, 255, 0.85);
    padding: 20px 0 10px;

    .row {
        margin-bottom: 0;
    }
}

.footerLinks {
    list-style: none;
    display: flex;
    margin-top: 10px;
    margin-bottom: 0;
    padding: 0;
    justify-content: center;
    font-size: 12px;

    @media (max-width: 767px) {
        flex-direction: column;
        padding: 20px 0;
        li {
            margin-bottom: 10px;
            margin-right: 0 !important;
        }
    }

    li {
        margin-right: 14px;

        &:last-child {
            margin-right: 0;
        }
    }

    a {
        color: #67625d;
        text-decoration: none;

        &:hover {
            color: #8c8b88;
        }
    }
}

@media (max-width: 768px) {
    .main-card-block {
        border-bottom: 4px solid #276fb6;
    }
}
